.main-header {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #768ea3;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  padding-top: 200px;
  font-size: 24px;
  height: 500px;
  width: 100%;
}

img {
  margin-top: auto;
  width: auto;
  height: auto;
}

#bold {
  font-weight: 600;
}

.username {
  font-weight: 300;
  margin-top: -20px
}

@media only screen and (min-width: 1024px) {

  header.main-header{
    flex-direction: column;
    padding-top: 30px;
    width: 30%;
    height: 50%;
    margin-top: 9em;
    margin-left: 2em;
  }
}