.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.formTweet {
  display:flex;
  flex-direction: column;
  width: 100%;
}



textarea {
  display: flex;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  height: 100%;
  width: 100%;
  resize: horizontal;
  margin-bottom: 10px;
}

.button {
  font-family: 'Bungee', 'cursive';
  background-color: rgb(57,72,151);
  color: white;
}

.counter-area {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}

.error-message {
  border: 4px solid rgba(233, 54, 54, 0.649);
  color: rgb(245, 53, 53);
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 12px;
  margin: 8px 0;
  font-weight: bold;
  display: none;
}